{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>silahkan masuk</h1>
        </div>
    </div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container">
                <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p>Username : </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            {{ form.username}}
                        </div>
                    </div>
                    <div class="row tengah">
                        <div class="col-md-12 col-sm-12">
                            <p>Password : </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            {{ form.password}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input id="login" type="submit" value="login" class="btn btn-outline-dark">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a id="regis" href="{% url 'signup'%}" class="btn btn-outline-dark">Sign Up</a>
                    </div>
                <div class="col-sm-12 col-md-12">
                        {% if form.errors %}
                        <p class="errorMessage">Invalid Login or password.</p>
                        {% endif %}
                </div>
                
        </div>
       
    </form>

</body>
</html>