{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
        <div class="container-fluid d-flex justify-content-center">
                <div class="row">
                    <div class="container-fluid d-flex justify-content-center">
                        <h1>Sign Up!</h1>
                    </div>
                    <div class="input col-md-12 d-flex justify-content-center">
                        <form class="form" method="POST" action="{% url 'signup' %}">
                            {% csrf_token %}
                            <div class="col-md-12 col-sm-12">
                                {{ form.username.label_tag }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.username }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password1.label_tag }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password1 }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password2.label_tag}}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password2 }}
                            </div>
                            <div class="d-flex justify-content-center">
                                <input id="regis" type="submit" value="register" class="btn btn-outline-dark text-light">
                            </div>
                            {% if form.errors %}
                            <div class="d-flex justify-content-center">
                                <p>Invalid Password</p>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                    
                </div>
        
            </div>
    
</body>
</html>