{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Now you are logged in, {{ user.username}}</h1>
            </div>
            <div class="col-md-12 col-sm-12">
                <a id="logout" href="{% url 'logout' %}" class="btn btn-outline-dark text-light">sign out</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Login first to see this page</h1>
            </div>
            <div class="col-md-12 col-sm-12">
                <a id="login" href="{% url 'login' %}" class="btn btn-outline-dark text-light">Sign In</a>
            </div>
        </div>
    </div>
    {% endif %}
</body>
</html>